* {
    box-sizing: border-box;
}

@font-face {
    font-family: ubuntu;
    src: url("/assets/fonts/Ubuntu-Regular.ttf");
}

body {
    font-family: ubuntu,serif;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin-bottom: 0;
}

