.mail-preview {
    display: flex;
    border-bottom: 1px solid rgb(167, 173, 180);
}

.mail-preview h3 {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

.mail-preview .mail-body-short {
    color: rgb(83, 83, 83);
    font-size: 14px;
}

.mail-preview .mail-name{
    width: 20%;
} 

.mail-preview .mail-time{
    width: 20%;
    text-align: right;
}

.mail-preview .mail-subject{
    width: 60%;
}

.mail-preview button{
    cursor: pointer;
    border: none;
    background-color: inherit;    
}

.mail-preview img{
    height: 16px;
    margin-right: 10px;
}


.mail-preview-extended .email-adrres{
    color: rgb(83, 83, 83);
}

.mail-preview-extended {
border-bottom: 1px solid rgb(167, 173, 180);;
}


.mail-preview-extended button{
    float: right;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: inherit;
    margin-inline-end:5px ;
}


.mail-preview-extended button img {
  height: 16px;
}

.mail-preview-extended h2,
.mail-preview-extended h3{
    margin-left: 25px;
} 
.mail-preview-extended p{
    margin-left: 25px;
    margin-right: 25px;
} 