.mail-index {
    display: flex;
    height: 90vh;
}

.mail-box{
    height: 100%;
    width: 80vw;
    background-color: aquamarine;
}

.mail-filter{
    height: 100%;
    width: 20vw;
    background-color: rgb(35, 107, 83);
    text-align: start;
}

button.compose {
    border-radius: 2em;
}