.mail-index {
    display: flex;
    height: 90vh;
}

.mail-box{
    height: 100%;
    width:100%;
    background-color: aquamarine;
}

.mail-filter{
    height: 100%;
    width: 300px;
    background-color: rgb(35, 107, 83);
    text-align: start;
}

button.compose {
    border-radius: 2em;
}

.mail-filter-input{
    position:absolute;
    top:5vh;
    left:50%;
    /* width:; */
    transform: translateX(-50%)  translateY(-50%)
}

.mail-filter-input input{
width:40vw;
height: 4vh;
border-radius: 2em;
}