.mail-index {
    display: flex;
    height: 90vh;
}

.mail-box{
    height: 100%;
    width:100%;
    background-color: rgb(227, 236, 245);
}

.mail-filter{
    height: 100%;
    width: 300px;
    background-color: rgb(219, 226, 233);
    text-align: start;
    border-right: solid 1px rgb(167, 173, 180);;
}

button.compose {
    border-radius: 2em;
}

.mail-filter-input{
    position:absolute;
    top:5vh;
    left:50%;
    /* width:; */
    transform: translateX(-50%)  translateY(-50%)
}

.mail-filter-input input{
width:40vw;
height: 4vh;
border-radius: 2em;
}


.new-mail{
    position: absolute;
width: 50vh;
height: 50vh;
background-color: lightslategray;
}